.root {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  font-size: 0.4em;
}
.play {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.pause {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
